.btn {
  padding: 10px;
  background: none;
  margin-top: 40px;
  border: 1px solid #dcb042;
  height: 50px;
  width: 180px;
  font-size: 1rem;
  cursor: pointer;
  font-family: Rubik;
  font-weight: 500;
}
