.searchbar {
  width: 100%;
  height: 10vh;
  border: none;
  text-align: center;
  font-size: 1.1rem;
  font-family: 'Rubik', sans-serif;
  font-weight: 300i;
  background-color: #f9f4e8;
}

.searchbar::placeholder {
  color: #bebdbd;
}
