.pageTitle {
  font-size: 1.5rem;
  font-weight: 900;
}
.pageTitle::after {
  content: '';
  margin-top: 7px;
  height: 5px;
  display: block;
  width: 80px;
  background: #dcb042;
  border-right: 1px white;
}
